body {
  background: #ffffff;
  color: #231f20;
  font-family: 'Lato', 'Helvetica Neue', Arial, Helvetica, sans-serif;
  font-size: 14px;
  line-height: 1.5;
  margin: 0;
  padding: 0; }

button {
  background: #231f20;
  border: none;
  border-radius: 5px;
  color: #f14986;
  cursor: pointer;
  font-weight: 600;
  letter-spacing: 1px;
  text-decoration: none !important;
  transition: all 0.3s ease; }
  button:hover, button:focus, button:active {
    background: #f14986;
    color: #231f20;
    font-weight: 800; }

input {
  border-radius: 5px;
  cursor: default; }

.col2 {
  width: 50%; }

.input-hover {
  color: #231f20;
  opacity: 1 !important; }

.input-reg {
  color: #231f20;
  opacity: .5 !important; }

.side-by-side {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
      flex-direction: row; }

.stack {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column; }

.btn-full {
  width: 100%;
  font-size: 14px;
  height: 70px;
  text-transform: uppercase; }

.input-group {
  -ms-flex-align: center;
      align-items: center;
  display: -ms-flexbox;
  display: flex;
  height: 30px;
  margin: 35px 0px;
  transition: all 0.3s ease;
  width: 100%; }
  .input-group .form-control {
    border: 1px solid #eaedec;
    box-shadow: 1px -1px #cacaca;
    font-size: 16px;
    padding: 15px 15px 15px 55px;
    width: 100%; }
    .input-group .form-control:focus {
      outline: #f14986 auto 5px; }
  .input-group:hover .input-group-addon, .input-group:focus .input-group-addon, .input-group:visited .input-group-addon, .input-group:active .input-group-addon {
    opacity: 1 !important; }
  .input-group:hover input::-webkit-input-placeholder, .input-group:focus input::-webkit-input-placeholder, .input-group:visited input::-webkit-input-placeholder, .input-group:active input::-webkit-input-placeholder {
    color: #231f20;
    opacity: 1 !important; }

.input-group-addon {
  -ms-flex-align: center;
      align-items: center;
  border-right: 1px solid #cacaca;
  display: -ms-flexbox;
  display: flex;
  padding: 5px 12px;
  position: absolute;
  transition: all 0.3s ease; }

.login-page-background-image {
  background-image: url(https://s3.amazonaws.com/btp-front-end-testing/cats.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  position: fixed;
  opacity: .3;
  width: 100%;
  z-index: -1; }

.login-page-container {
  -ms-flex-align: center;
      align-items: center;
  display: -ms-flexbox;
  display: flex;
  height: 100vh;
  max-width: 800px;
  margin: auto; }
  .login-page-container .login-header-wrapper {
    font-size: 15px;
    font-weight: 500;
    margin-left: 50px; }
    .login-page-container .login-header-wrapper .login-header-text {
      padding: 10px; }
  .login-page-container .logo-image {
    height: auto;
    margin: 10px;
    max-width: 220px;
    width: 60%; }
  .login-page-container .login-form-container {
    margin: auto;
    margin-bottom: 50px;
    width: 240px; }
    .login-page-container .login-form-container .input-group:first-child {
      margin-top: 0px; }

@media (max-width: 1025px) {
  .login-page-background-image {
    background-position: 70%; } }

@media (max-width: 600px) {
  .login-page-container {
    -ms-flex-direction: column;
        flex-direction: column;
    height: auto; }
    .login-page-container .login-header-text {
      margin-bottom: 45px;
      padding: 0px 30px; }
    .login-page-container .logo-image {
      margin-top: 35px; }
    .login-page-container .col2 {
      -ms-flex-align: center;
          align-items: center;
      margin: auto;
      max-width: 400px;
      text-align: center;
      width: 100%; } }
