////----------------------------------*\
//// SCSS MIXINS
////----------------------------------*/
//
//@import 'mixins/_position.scss';
//
////----------------------------------*\
//// CONFIG MODULES
////----------------------------------*/
//
//// Config modules
//@import 'modules/_vars.scss';
//@import 'modules/_clearfix.scss';
//@import 'modules/_defaults.scss';
//@import 'modules/_normalize.scss';
////----------------------------------*\
//// PARTIALS
////----------------------------------*/
//
//@import 'partials/_header.scss';
//@import 'partials/_nav.scss';
//@import 'partials/_sidebar.scss';
//@import 'partials/_main.scss';
//@import 'partials/_footer.scss';
//
////----------------------------------*\
//// OBJECTS & MODULES
////----------------------------------*/
//
//@import 'modules/_buttons.scss';
//@import 'modules/_inputs.scss';
//@import 'modules/_lists.scss';
//@import 'modules/_typography.scss';
//@import 'modules/_misc.scss';
//@import 'modules/_app.scss';
//
//// Enhancement modules
//@import 'modules/_breakpoints.scss';
//@import 'modules/_print.scss';
//
////----------------------------------*\
//// VENDOR
////----------------------------------*/
//
//@import 'vendor/_external.scss';

//Variables//
$white: #ffffff;
$site-background: $white;
$primary-black: #231f20;
$primary-pink: #f14986;
$border-gray: #eaedec;

$bold: 600;
$bolder: 800;
$transition-hover: all 0.3s ease;

//mixins
@mixin button($bg, $text) {
  background: $bg;
  border-radius: 5px;
  color: $text;
  border: none;
  letter-spacing: 1px;
  font-weight: $bold;
  cursor: pointer;
  text-decoration: none !important;
  transition: $transition-hover;

  &:hover,
  &:focus,
  &:active {
    color: $bg;
    background: $text;
    font-weight: $bolder;
  }
}

//Base//
body {
  background: $site-background;
  font-family: 'Lato', 'Helvetica Neue', Arial, Helvetica, sans-serif;
  line-height: 1.5;
  margin: 0;
  padding: 0;
}

input {
  border-radius: 5px;
  cursor: default;
}

.input-group {
  transition: $transition-hover;

  &:hover,
  &:focus,
  &:visited,
  &:active {

    input {
      &::-webkit-input-placeholder {
        color: $primary-black;
        opacity: 1 !important; /* for older chrome versions. may no longer apply. */
      }

      &:-moz-placeholder { /* Firefox 18- */
        color: $primary-black;
        opacity: 1 !important;
      }

      &::-moz-placeholder {  /* Firefox 19+ */
        color: $primary-black;
        opacity: 1 !important;
      }

      &:-ms-input-placeholder {
        color: $primary-black;
      }
    }
  }
}

button {
  @include button($primary-black, $primary-pink)
}

//Helpers
.col2 {
  width: 50%;
}

.side-by-side {
  display: flex;
  flex-direction: row;
}

.stack {
  display: flex;
  flex-direction: column;
}

.btn-full {
  width: 100%;
  font-size: 14px;
  height: 70px;
  text-transform: uppercase;


  &:hover {

  }
}

.input-group {
  width: 100%;
  margin: 35px 0px;
  display: flex;
  align-items: center;
  height: 30px;

  .form-control {
    font-size: 16px;
    padding: 15px 15px 15px 55px;
    width: 100%;
    border: 1px solid $border-gray;
    box-shadow: 1px -1px #cacaca;
  }

  &:hover,
  &:focus,
  &:active,
  &:visited {

    .input-group-addon {
      opacity: 1;
    }
  }
}

.input-group-addon {
  position: absolute;
  padding: 5px 12px;
  display: flex;
  align-items: center;
  border-right: 1px solid #cacaca;
  opacity: .5;
  transition: $transition-hover;
}

//Login Page
.login-page-background-image {
  position: fixed;
  background-image: url(https://s3.amazonaws.com/btp-front-end-testing/cats.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  opacity: .3;
  z-index: -1;
}

.logo-image {
  height: auto;
  width: 65%;
}

.login-form-container {
  width: 240px;
  margin: auto;
}

.login-page-container {
  max-width: 800px;
  margin: auto;
  height: 100vh;
  display: flex;
  align-items: center;

  .login-text {
    font-size: 18px;
  }
}