////----------------------------------*\
//// SCSS MIXINS
////----------------------------------*/
//
//@import 'mixins/_position.scss';
//
////----------------------------------*\
//// CONFIG MODULES
////----------------------------------*/
//
//// Config modules
//@import 'modules/_vars.scss';
//@import 'modules/_clearfix.scss';
//@import 'modules/_defaults.scss';
//@import 'modules/_normalize.scss';
////----------------------------------*\
//// PARTIALS
////----------------------------------*/
//
//@import 'partials/_header.scss';
//@import 'partials/_nav.scss';
//@import 'partials/_sidebar.scss';
//@import 'partials/_main.scss';
//@import 'partials/_footer.scss';
//
////----------------------------------*\
//// OBJECTS & MODULES
////----------------------------------*/
//
//@import 'modules/_buttons.scss';
//@import 'modules/_inputs.scss';
//@import 'modules/_lists.scss';
//@import 'modules/_typography.scss';
//@import 'modules/_misc.scss';
//@import 'modules/_app.scss';
//
//// Enhancement modules
//@import 'modules/_breakpoints.scss';
//@import 'modules/_print.scss';
//
////----------------------------------*\
//// VENDOR
////----------------------------------*/
//
//@import 'vendor/_external.scss';

//Variables//
$white: #ffffff;
$site-background: $white;
$primary-black: #231F20;
$primary-pink: #F14986;
$border-gray: #EAEDEC;

$bold: 600;

//Base//
body {
  background: $site-background;
  font-family: 'Lato', 'Helvetica Neue', Arial, Helvetica, sans-serif;
  line-height: 1.5;
  margin: 0;
  padding: 0;
}

input {
  border-radius: 5px;
  cursor: default;
}

button {
  border-radius: 5px;
  color: $primary-pink;
  background: $primary-black;
  border: none;
  letter-spacing: 2px;
  font-weight: $bold;
  cursor: pointer;
}

//Helpers
.side-by-side {
  display: flex;
  flex-direction: row;
}

.stack {
  display: flex;
  flex-direction: column;
}

.btn-full {
  width: 100%;
  height: 56px;
  text-transform: uppercase;
}

.input-group {
  width: 100%;
  margin: 35px 0px;
  display: flex;
  align-items: center;
  height: 30px;

  .form-control {
    font-size: 16px;
    padding: 15px 55px;
    width: 100%;
    border: 1px solid $border-gray;
    box-shadow: 1px -1px #cacaca;
  }
}

.input-group-addon {
  position: absolute;
  padding: 5px 12px;
  display: flex;
  align-items: center;
  border-right: 1px solid #cacaca;
}

//Login Page
.login-page-background-image {
position: fixed;
background-image: url(https://s3.amazonaws.com/btp-front-end-testing/cats.jpg);
background-repeat: no-repeat;
background-size: cover;
background-position: center center;
width: 100%;
height: 100%;
opacity: .3;
z-index: -1;
}

.logo-image {
height: auto;
width: 60%;
}

.login-form-container {
  width: 240px;
  margin: auto;
}

.login-page-container {
  max-width: 800px;
  margin: auto;
  height: 100vh;
  display: flex;
  align-items: center;

  .col2 {
    width: 50%;
    margin: 30px;
  }
}