//------------------------- VARIABLES -------------------------//

//colors
$white: #ffffff;
$site-background: $white;
$primary-black: #231f20;
$primary-pink: #f14986;
$border-gray: #eaedec;
$border-box-shadow: #cacaca;

//fonts
$font-base: 14px;
$font-md: 15px;
$font-lg: 18px;
$bold: 600;
$bolder: 800;

//other
$border-radius: 5px;
$transition-hover: all 0.3s ease;

//media queries
$mq-tablet: 1025px;
$mq-mobile: 600px;

//------------------------- MIXINS -------------------------//

//buttons
@mixin button($bg, $text) {
  background: $bg;
  border: none;
  border-radius: $border-radius;
  color: $text;
  cursor: pointer;
  font-weight: $bold;
  letter-spacing: 1px;
  text-decoration: none !important;
  transition: $transition-hover;

  &:hover,
  &:focus,
  &:active {
    background: $text;
    color: $bg;
    font-weight: $bolder;
  }
}

//------------------------- BASE -------------------------//

body {
  background: $site-background;
  color: $primary-black;
  font-family: 'Lato', 'Helvetica Neue', Arial, Helvetica, sans-serif;
  font-size: $font-base;
  line-height: 1.5;
  margin: 0;
  padding: 0;
}

button {
  @include button($primary-black, $primary-pink);
}

input {
  border-radius: $border-radius;
  cursor: default;
}

//------------------------- HELPERS -------------------------//

.col2 {
  width: 50%;
}

.side-by-side {
  display: flex;
  flex-direction: row;
}

.stack {
  display: flex;
  flex-direction: column;
}

//------------------------- COMPONENTS -------------------------//

//Buttons
.btn-full {
  width: 100%;
  font-size: $font-base;
  height: 70px;
  text-transform: uppercase;
}

//Inputs / Forms
.input-group {
  align-items: center;
  display: flex;
  height: 30px;
  margin: 35px 0px;
  transition: $transition-hover;
  width: 100%;

  .form-control {
    border: 1px solid $border-gray;
    box-shadow: 1px -1px $border-box-shadow;
    font-size: 16px;
    padding: 15px 15px 15px 55px;
    width: 100%;

    &:focus {
      outline: $primary-pink auto 5px;
    }
  }

  &:hover,
  &:focus,
  &:visited,
  &:active {

    .input-group-addon {
      opacity: 1 !important;
    }

    input {
      &::-webkit-input-placeholder {
        color: $primary-black;
        opacity: 1 !important;
      }
    }
  }
}

.input-group-addon {
  align-items: center;
  border-right: 1px solid #cacaca;
  display: flex;
  padding: 5px 12px;
  position: absolute;
  opacity: .5;
  transition: $transition-hover;
}

//------------------------- PAGES -------------------------//

//Login Page
.login-page-background-image {
  background-image: url(https://s3.amazonaws.com/btp-front-end-testing/cats.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  position: fixed;
  opacity: .3;
  width: 100%;
  z-index: -1;
}

.login-page-container {
  align-items: center;
  display: flex;
  max-width: 800px;
  margin: auto;

  .login-header-wrapper {
    font-size: $font-md;
    font-weight: 500;
    margin-left: 50px;

    .login-header-text {
      padding: 10px;
    }
  }

  .logo-image {
    height: auto;
    margin: 10px;
    max-width: 220px;
    width: 60%;
  }

  .login-form-container {
    margin: auto;
    width: 240px;

    .input-group:first-child {
      margin-top: 0px;
    }
  }
}

//------------------------- MEDIA QUERIES -------------------------//

//tablet
@media (max-width: $mq-tablet) {

  .login-page-container {
    .login-page-background-image {
      background-position: 70%;
    }
  }
}

//mobile
@media (max-width: $mq-mobile) {

  .login-page-container {
    flex-direction: column;
    height: auto;

    .login-header-text {
      margin-bottom: 45px;
      padding: 0px 30px;
    }

    .logo-image {
      margin-top: 35px;
    }

    .col2 {
      align-items: center;
      margin: auto;
      max-width: 400px;
      text-align: center;
      width: 100%;
    }
  }
}
